<tr th:fragment="barcodeRow" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
    <td scope="row" class="px-6 py-4" th:text="${{barcode.barcode}}">barcode</td>
    <td scope="row" class="px-6 py-4">

      <ul class="max-w-md text-gray-900" th:each="row,rowStat : ${barcode.descriptions}">
        <li class="mb-1 text-gray-500 md:text-lg dark:text-gray-400 "><strong th:text="${row.locale.language}"
            class="font-semibold"></strong> <span th:text="${row.text}"></span></li>
      </ul>

    </td>
  </tr>